<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EURO bOWLa</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boogaloo&family=Roboto+Condensed&display=swap" rel="stylesheet">

    <!-- CSS File -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="title-page d-flex flex-column justify-content-center">
        <div class="container">
            <h1 class="title text-center" style="font-size: 60px; font-weight: bold;">EURO bOWLa</h1>
            <form class="mt-5 d-flex justify-content-center" method="post">
                {% csrf_token %}
                <select required class="form-control mx-3" style="width: 200px;" name='category'>
                    <option value="" disabled selected hidden>What to search?</option>
                    <option>Country</option>
                    <option>League</option>
                    <option>Team</option>
                    <option>Player</option>
                </select>
                <input type="text" style="width: 300px;" class="form-control mr-2" placeholder="e.g Manchester United" name='input-a' value="">
                <button type="submit" style="margin-left: 10px;" class="btn mr-2">Search</button>
            </form>
            <div class="d-flex justify-content-center">
                <div class="lds-ellipsis" id="spinner" hidden>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    {% if results %}
    <div class="result-page pt-5" id="result">
        {% if category == 'Country' %}
        <div class="container">
            <div class="d-flex flex-column">
                {% for country in results.results.bindings %}
                <div class="d-flex justify-content-between">
                    <div class="card mb-3 w300">
                        <div class="card-body">
                            <div class="mx-2">{{ country.country.value }}</div>
                            <h5>{{ country.countryName.value }}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% elif category == 'League' %}
        <div class="container">
            <div class="d-flex flex-column">
                {% for league in results.results.bindings %}
                <div class="d-flex justify-content-between">
                    <div class="card mb-3 w300">
                        <div class="card-body">
                            <div class="mx-2">{{ league.league.value }}</div>
                            <h5>{{ league.leagueName.value }}</h5>
                            <div class="mx-2">{{ league.countryName.value }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% elif category == 'Team' %}
        <div class="container">
            <div class="d-flex flex-column">
                {% for team in results.results.bindings %}
                <div class="d-flex justify-content-between">
                    <div class="card mb-3 w300">
                        <div class="card-body">
                            <div class="mx-2">http://example.org/resource/team/{{ team.team.value }}</div>
                            <h5>{{ team.teamLongName.value }}</h5>
                            <h5>{{ team.teamShortName.value }}</h5>
                            <div class="d-flex justify-content-center">
                                <a href="{% url 'search:team_detail' team.team.value %}" class="btn mt-3">See Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% elif category == 'Player' %}
        <div class="container">
            <div class="d-flex flex-column">
                {% for player in results.results.bindings %}
                <div class="d-flex justify-content-between">
                    <div class="card mb-3 w300">
                        <div class="card-body">
                            <div class="mx-2">http://example.org/resource/player/{{ player.player.value }}</div>
                            <h5>{{ player.playerName.value }}</h5>
                            <div class="d-flex justify-content-center">
                                <button class="btn mt-3" data-toggle="modal" data-target="#modal">See Details</button>
                            </div>
                        </div>
                    </div>
                </div>

                 <!-- Modal -->
                <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="mx-2">http://example.org/resource/player/{{ player.player.value }}</div>
                                <h5>{{ player.playerName.value }}</h5>
                            </div>
                            <div class="modal-body">
                                <div class="info-element mt-3">
                                    <div class="info-title">Birthday</div>
                                    <div class="text-justify">{{ player.birthday.value }}</div>
                                </div>
                                <div class="info-element mt-3">
                                    <div class="info-title">Height</div>
                                    <div class="text-justify">{{ player.height.value }} cm</div>
                                </div>
                                <div class="info-element mt-3">
                                    <div class="info-title">Weight</div>
                                    <div class="text-justify">{{ player.weight.value }} lbs</div>
                                </div>
                                <!-- <div class="info-element mt-3">
                                    <button class="btn mt-3">More</button>
                                </div> -->
                                <div class="info-element mt-3">
                                    <a href="{% url 'search:player_detail' player.player.value %}" class="btn mt-3">More</a>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}
</body>
</html>